@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Inter Tight', sans-serif;
    font-size: 1.1em;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

a.thisPage {
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;

    background-color: #d6d6d6;
}

body > *, header div {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
}

.biggus {
    font-size: 1.8em !important;
}

.big-enough {
    font-size: 1.4em !important;
}

header {
    background-color: #a1a1a1 /* #a1a1a1 */;
}

header div {
    flex-direction: row !important;
    justify-content: space-around;
    
    width: 60%;
    padding: 20px;
}

main {
    width: 85%;

    margin-top: 42px;
    margin-bottom: 42px;
    padding: 42px;

    background-color: white;
}

main > *:not(:first-child) {
    margin-top: 42px;
}

.margin-top {
    margin-top: 42px;
}

.container {
    width: 100%;
}

.center-flex {
    display: flex;
    justify-content: center;

    margin-left: 0 !important;
}

.subtitle {
    font-size: 1.25em;
    font-weight: bold;
}

ol {
    padding-left: 64px;
}

.classifica {
    font-size: 1.125em;
}

.classifica li {
    margin-top: 24px;
}

.classifica .first-position {
    color: rgb(12, 162, 12);
    font-weight: bold;
}

/*
.classifica :nth-child(2) {
    color: rgb(255, 230, 0);
}

.classifica :last-child {
    color: rgb(255, 0, 0);
}
*/

.login {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.login div {
    margin-top: 32px;
}

input {
    margin-left: 12px;
}

input[type=submit] {
    padding: 0 20px;
}

table {
    width: 100%;
    table-layout: fixed;

    text-align: center;
}

tbody {
    font-size: 0.825em;
}

select, option {
    text-align: center;
}

.italics {
    font-style: italic;
}

.not-italics {
    font-style: normal !important;
}

.checkbox {
    width:21px;
    height:21px;
}

.submit-button-div {
    margin-top: 42px;

    display: flex;
    justify-content: center;
}

.submit-button {
    padding: 2px 28px !important;
    
    border: 1px solid red;
    border-radius: 25px;

    background-color: red;
    color: white;

    font-size: 1.25em !important;
}

.formations-home-table {
    margin-top: 21px;
}

.formations-home-table th {
    font-size: 0.9em;
}

.formations-home-table td {
    padding-top: 15px;
    margin-top: 21px;
    font-size: 1.125em;
}

.last42 {
    margin-top: 21px;
    font-size: 0.8em;
}

.last42 td {
    padding-top: 15px;
}

.last42 td {
    margin-top: 21px;
    font-size: 1.25em;
}

.last42 tr {
    border: 1px solid black;
}

.bold {
    font-weight: bold;
}

.giocAttivo {
    color: rgb(12, 162, 12);
}

.giocPanchina {
    color: rgb(255, 174, 0)
}